*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    /* width: 80rem; */
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
.form_container>input,.form_container>button{ 
        height: 2rem;
        width: 19%;
        padding-left: 0.8rem;
}
.form_container>button:hover{
    background-color: aqua;
    border: 0px;
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
}
.heading{
    margin: 2rem;
    color: aquamarine;
    animation: header_animate 3s ease-in-out 5s infinite;
}
@keyframes header_animate {
    0% {
            opacity: 0;
            transform: translateY(-50px);
            color: aliceblue;
        }
    50% {
        opacity: 0.5;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: aqua;
    }
}
.score_board{
    width: 100%;
    background-color: aquamarine;
    border-radius: 0.5rem;
    color: white;
}

.player{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
} 
.player:hover{
    background-color: aqua;
    transition: 1s ease-in;
    border-radius: .8rem    ;
}  
.player>span,.player>button{
    width: 13%;
    text-align: center;
   
}
.player>button{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: white;
}   
.decrease:hover{
    background-color: red;
    border-radius: 1rem;
    padding: .3rem;
    transition: 1s ease-in-out;
}
.increase:hover{
    padding: .3rem;
    border-radius: 1rem;
    background-color: green;
    transition: 1.3s ease-out;
}   
.create_his{
    font-size: 10px; 
    color: gainsboro;   
}
.delete_player{
    color: red;
}
.delete_player:hover{
    background-color: cadetblue;
    padding: .2rem;
    border-radius: 1rem;
}
